@using System.Globalization

<div class="event-card">
    <img class="event-img" src="@Event.ImagePath">

    <div class="event-card-info">
        <h3>@Event.Name</h3>
        <p class="event-description">@GetClampedDescription(Event.Description)</p>
        <p id="event-card-address">
            @Event.Address, @Event.City
            <a href="https://www.google.com/maps/search/?api=1&query=@Uri.EscapeDataString(Event.Address),@Uri.EscapeDataString(Event.City)"
                class="map-icon" target="_blank">
                <i class="fas fa-location-dot"></i>
            </a>
        </p>
    </div>

    <div class="event-card-buttons">
        <p class="event-time">@Event.StartTime.ToString("MMM dd", new CultureInfo("sv-SV"))</p>

        @{
            int? remainingTickets = Event.TicketsMax.HasValue ? Event.TicketsMax - Event.TicketsSold : null;

            int? lowTicketThreshold;
            if (Event.TicketsMax.HasValue)
            {
                if (Event.TicketsMax < 100)
                {
                    lowTicketThreshold = 10;
                }
                else if (Event.TicketsMax < 1000)
                {
                    lowTicketThreshold = 50;
                }
                else
                {
                    lowTicketThreshold = 100;
                }
            }
            else
            {
                lowTicketThreshold = null;
            }
        }

        @if (remainingTickets.HasValue)
        {
            if (remainingTickets <= 0)
            {
                <p class="sold-out-text">Slutsålt!</p>
            }
            else if (remainingTickets <= lowTicketThreshold)
            {
                <p class="few-tickets-text">@remainingTickets biljetter kvar!</p>
            }
        }

        <div class="event-card-button-container">
            <button @onclick="() => OnOpenModal.InvokeAsync(Event)">Visa info</button>

            @if (Event.AccessType == AccessType.Free && Event.HasSeat || Event.AccessType == AccessType.Free && Event.TicketsMax.HasValue)
            {
                <button @onclick="() => OnGoToCheckout.InvokeAsync(Event.Id)">Boka</button>
            }
            else if (Event.AccessType == AccessType.Free && !Event.HasSeat)
            {
                <button class="not-a-button">Gratis!</button> 
            }
            else
            {
                <button @onclick="() => OnGoToCheckout.InvokeAsync(Event.Id)">Köp</button>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventDto Event { get; set; } = default!;

    [Parameter]
    public EventCallback<EventDto> OnOpenModal { get; set; } = default!;

    [Parameter]
    public EventCallback<int> OnGoToCheckout { get; set; } = default!;

    private string GetClampedDescription(string description) // Clamps the description to 220 characters
    {
        return description.Length > 220 ? description.Substring(0, 220) + "..." : description;
    }
}