@* UserForm.razor*@

<EditForm Model="UserModel" OnValidSubmit="HandleSubmit" class="edit-form">
    <DataAnnotationsValidator />
    <h3>@(IsUserEditMode ? "Edit User" : "Add User")</h3>
    <div class="form-group">
        <label><strong>Username:</strong></label>
        <InputText @bind-Value="UserModel.Username" />
        <ValidationMessage For="@(() => UserModel.Username)" />
    </div>

    <div class="form-group">
        <label><strong>Email:</strong></label>
        <InputText @bind-Value="UserModel.Email" />
        <ValidationMessage For="@(() => UserModel.Email)" />
    </div>

    <div class="form-group">
        <label><strong>Phone:</strong></label>
        <InputText @bind-Value="UserModel.PhoneNumber" />
        <ValidationMessage For="@(() => UserModel.PhoneNumber)" />
    </div>

    <div class="form-group">
        <label><strong>User Role:</strong></label>
        <InputSelect @bind-Value="UserModel.Role">
            @foreach (var role in Enum.GetValues<UserRole>())
            {
                <option value="@role">@role</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => UserModel.Role)" />
    </div>

    <div class="button-container">
        <button type="submit">Save</button>
        <button type="button" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter] public UserDto UserModel { get; set; }
    [Parameter] public EventCallback<UserDto> OnSave { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    [Parameter] public bool IsUserEditMode { get; set; } = false;

    private async Task HandleSubmit()
    {
        await OnSave.InvokeAsync(UserModel);
    }

    private async Task Cancel()
    {
        await OnCancel.InvokeAsync();
    }
}
